body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.todoPage {
  max-width: 1200px;
  margin: auto;
}

.todoPage input {
  margin-bottom: 50px;
}

.todoPage button {
  cursor: pointer;
}

.todoElement {
  max-width: 50%;
  display: flex;
  justify-content: space-between;
  padding: 8px 25px;
  border-bottom: 1px solid black;
  margin: auto;
}
