.countries-page {
  max-width: 1160px;
  margin: auto;
}

.search-segment {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
  color: var(--lightgray);
  font-weight: 500;
}

.input-container {
  display: flex;
  align-items: center;
  width: 45%;
  background-color: var(--lightblue);
  border-radius: 5px;
}

.icon-container {
  display: flex;
  align-items: center;
  padding: 15px;
}

.input-container input {
  margin-left: 12px;
  flex: 1;
  color: var(--lightgray);
  font-weight: 500;
  padding: 5px;
  border: none;
  outline: none;
  font-size: 16px;
  background-color: inherit;
}

.input-container input::placeholder {
  color: var(--lightgray);
  font-weight: 500;
  font-size: 15px;
  font-family: "Arial";
}

.countries-table {
  margin-top: 43px;
}

.countries-row,
.head-row {
  display: grid;
  grid-template-columns: 88px 0.7fr 1fr 1fr 1fr;
  transition: all 0.1s linear;
}

.head-field,
.country-field {
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  padding: 20px 0px;
  display: flex;
  word-break: break-word;
}

.head-field {
  color: var(--greenblue);
  justify-content: center;
}

.head-field span {
  cursor: pointer;
  color: var(--lightgray);
}

.head-name {
  text-align: left;
  justify-content: flex-start;
}

.country-field {
  color: var(--navy);
  justify-content: center;
  align-items: center;
}

.countries-row {
  background-color: var(--whiteContent);
  border-radius: 8px;
  margin-bottom: 10px;
}

.countries-row:hover {
  transform: translateY(-4px);
  box-shadow: 3px 6px 12px rgb(224, 220, 220);
  border-radius: 5px;
}

.country-name {
  justify-content: flex-start;
  text-align: left;
}

.country-name span {
  cursor: pointer;
}

.country-flag {
  width: 50px;
  border-radius: 3px;
  margin-right: 25px;
  margin-left: 13px;
  border: 1px solid var(--verylightgray);
}

.bar-container {
  height: 6px;
  width: 133px;
  border-radius: 3px;
  margin-right: 10px;
}

.bar-filler {
  width: 100%;
  height: 100%;
  border-radius: 3px;
  background-color: var(--greenblue);
}

.gini-text {
  font-size: 12px;
  min-width: 40px;
  display: flex;
  justify-content: flex-end;
}

body.dark .countries-row,
body.dark .input-container {
  background-color: var(--darkContent);
}

@media only screen and (max-width: 1170px) {
  .countries-page {
    margin: 0 24px;
  }
}

@media only screen and (max-width: 680px) {
  .search-segment {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
  }

  .search-segment p {
    margin-bottom: 22px;
  }

  .input-container {
    width: 100%;
  }

  .countries-row,
  .head-row {
    grid-template-columns: repeat(2, 1fr);
  }

  .head-field,
  .country-field {
    display: none;
  }

  .head-name,
  .head-population,
  .country-name,
  .country-population {
    display: flex;
  }

  .head-name,
  .country-name {
    padding-left: 26px;
  }
}

@media only screen and (max-width: 340px) {
  .countries-page {
    margin: 0 15px;
  }
}
