html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.card {
  max-width: 400px;
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: 10px 10px 25px rgb(160, 157, 157);
  margin: 10px 0px;
  padding: 15px;
}

.container {
  max-width: 600px;
  padding: 15px;
  margin: auto;
  margin-top: 30px;
}
