.row {
  margin-bottom: 30px;
}

.movie-container {
  display: flex;
}

.title {
  color: var(--rowHeadingColor);
  text-transform: capitalize;
  margin-bottom: 15px;
}

.movie-container img {
  display: block;
  margin-right: 5px;
  border-radius: 5px;
  width: 250px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.movie-container img:hover {
  transform: scale(1.1);
}
