body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --navLinksColor: white;
  --descriptionColor: white;
  --playBtnBackgroundColor: white;
  --myListBtnTextColor: white;
  --rowHeadingColor: white;
  --headingColor: red;
  --playBtnTextColor: black;
  --navBackgroundColor: black;
  --myListBtnBackgroundColor: #5c5b59;
  --rowsBackgroundColor: #141414;
}

.card {
  max-width: 400px;
  background-color: aliceblue;
  border-radius: 10px;
  box-shadow: 10px 10px 25px rgb(160, 157, 157);
  margin: 10px 0px;
  padding: 15px;
}

.container {
  max-width: 600px;
  padding: 15px;
  margin: auto;
  margin-top: 30px;
}
