html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.users {
  max-width: 60%;
  margin: auto;
}

.single-user {
  margin: 10px 0;
  background-color: rgb(175, 3, 3);
  color: gold;
  font-weight: bold;
  border-radius: 8px;
  padding: 12px;
  width: 100%;
}

.input-fields {
  margin-top: 50px;
  margin-bottom: 50px;
}

.input-fields p {
  display: flex;
  justify-content: space-between;
  max-width: 350px;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
